#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: blue;
    font-style: italic;
}

.absent {
    color: lightcoral;
    font-weight: bold;
}

/* [v-cloak]{
    display: none;
} */

