#records {
    max-height: 250px;
    overflow: scroll;
}

.Python{
    color:teal
}
.JavaScript{
    color:cornflowerblue
}
.IT_Work{
    color:sandybrown
}
.Career_Class{
    color: plum
}
.Video_Work{
    color:tomato
}